ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

.create-user-container {
  padding: 15px;
  margin: 0 auto;
  width: max-content;
}

.create-user-container label {
  display: block;
  font-weight: 700;
}

.create-user-container .btn-submit {
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
}
